.content-index {}

.content-index .index-item {
	position: relative;
	font-size: 14px;
	margin-bottom: 2px;
}

.content-index .index-toggle {
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 24px;

	cursor: pointer;
}

.content-index .index-title {
	margin-left: 20px;
	padding: 1px 4px;

	cursor: pointer;
}

.content-index .index-title-active {
	background: #1260A2;
	color: #fff;
}

.content-index .index-children {
	margin-left: 8px;
	padding-left: 16px;
	padding-bottom: 4px;
	margin-bottom: 4px;
	border-left: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	border-radius: 0 0 0 16px;
}
