.new-page form {
	padding: 8px;
}

.new-page form > label {
	display: block;
	margin-top: 16px;
	margin-bottom: 8px;
}

.new-page form .title {
	font-size: 1.3em;
	width: 100%;
}

.new-page form .link {
	display: block;
	min-height: 16px;
	margin-left: 8px;
}

.new-page form .group div {
	margin: 0;
	padding: 8px;
	margin-left: 8px;
	border: 1px solid #FFF;
}

.new-page form .group .checked {
	border: 1px solid #7DC6FF;
}

.new-page form .group [type=radio] {
	margin-right: 16px;
}

.new-page form button[type=submit] {
	display: block;

	margin-top: 32px;
	margin-bottom: 16px;
	margin-left: 16px;
	width: auto;

	font-size: 1em;
	padding: 8px 16px;

	background: #fff;
	border: 1px solid #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

	cursor: pointer;

	transition:
		border 0.3s ease-in-out,
		box-shadow 0.1s ease-in-out
	;
}

.new-page form button[type=submit]:hover,
.new-page form button[type=submit]:focus {
	border: 1px solid #7DC6FF;
}

.new-page form button[type=submit]:active {
	box-shadow:
		0 6px 10px 0 rgba(0, 0, 0, 0.3),
		0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
