
*[data-dita="note"]:before {
	content: 'Note: ';
	font-weight: bold;
}
*[data-dita="note"][type="tip"]:before {
	content: 'Tip: ';
	font-weight: bold;
}
*[data-dita="note"][type="caution"]:before {
	content: 'Caution! ';
	font-weight: bold;
}
*[data-dita="info"] {}
*[data-dita="keystroke"] {
	font-weight: bold;
	background-color : #666666;
	color : #ffffff;
	margin-left : 2px;
	margin-right : 2px;
	padding-left : 3px;
	padding-right : 3px;
}
*[data-dita="secright"] {}
*[data-dita="codeblock"] {
	font-family: monospace;
	white-space: pre;
}
*[data-dita="codeph"] {
	font-family: monospace;
}
*[data-dita="filepath"] {
	font-family: monospace;
}
*[data-dita="uicontrol"] {
	font-weight: bold;
}
*[data-dita="wintitle"] {
	font-weight: bold;
}
*[data-dita="cmdname"] {
	font-family: monospace;
}
*[data-dita="shortcut"] {
	text-decoration: underline;
}
*[data-dita="menucascade"] span:after {
	content: ' >';
	font-weight: normal;
}
*[data-dita="menucascade"] span:last-of-type:after {
	content: '';
}
*[data-dita="step"][importance="optional"]:before {
	content: '(Optional) ';
}
