.content-image-map {
	padding: 8px 0;
}

.content-image-map .image {
	position: relative;
}

.content-image-map .area {
	position: absolute;

	border: 1px dashed #00f;
	cursor: pointer;
}

.content-image-map .area:hover {
	background: rgba(0,0,255,0.1);
	border: 1px solid #00f;
}
