/* 
Material design shadow
z=1
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
z=2
	box-shadow: 
		0 6px 10px 0 rgba(0, 0, 0, 0.3),
		0 2px 2px 0 rgba(0, 0, 0, 0.2);

z=3
	box-shadow:
		0 13px 25px 0 rgba(0, 0, 0, 0.3),
		0 11px 7px 0 rgba(0, 0, 0, 0.19);

z=4
	box-shadow:
		0 20px 40px 0 rgba(0, 0, 0, 0.3),
		0 14px 12px 0 rgba(0, 0, 0, 0.17);

x=5
	box-shadow:
		0 27px 55px 0 rgba(0, 0, 0, 0.3),
		0 17px 17px 0 rgba(0, 0, 0, 0.15);
*/
#header {
	position: fixed;
	top: 0; left: 0; right: 0;

	background: #01579B;

	height: 46px;
	box-shadow: 
		0 6px 10px 0 rgba(0, 0, 0, 0.3),
		0 2px 2px 0 rgba(0, 0, 0, 0.2);

	z-index: 2;

	transition: box-shadow 0.2s ease-in-out;
}

#header .title {
	text-align: center;
	color: #FFF;
	line-height: 46px;
}

#header:hover, #header:active {
	box-shadow:
		0 13px 25px 0 rgba(0, 0, 0, 0.3),
		0 11px 7px 0 rgba(0, 0, 0, 0.19);
}

.header-menu {
	position: fixed;
	top: 46px;
	left: -500px;
	background: #01579B;
	padding: 0px 0;
	transition: left 0.3s ease-in;

	box-shadow:
		0 13px 25px 0 rgba(0, 0, 0, 0.3),
		0 11px 7px 0 rgba(0, 0, 0, 0.19);	
}

.header-menu a {
	display: block;
	padding: 0px 20px;
	line-height: 46px;

	color: #FFF;
	text-decoration: none;	
}

.header-menu a:hover {
	background-color: #0277BD;
}

#header:hover .header-menu {
	left: 0;
}

#header .button {
	float: left;
	display: block;
	
	height: 46px;
	line-height: 46px;

	padding: 0px 20px;

	color: #FFF;
	text-decoration: none;

	transition: background-color 0.2s ease-in-out;
}

#header .button:hover {
	background-color: #0277BD;
}

#header .logo {
	position: absolute;
	display: block;
	left: 0; width: 46px;
	background-image: url("../img/icon.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#header .search {
	position: absolute;
	left: 56px;
	right: 120px;

	padding: 0 10px;
	margin: 10px 0;
	
	background: #005293;
	color: white;

	height: 28px;

	transition: background 0.2s ease-in-out;
	border-radius: 20px;
	border: 1px solid #0F445F;

	max-width: 400px;
}

#header .search input {
	border: 0;
	width: 100%;
	height: 100%;
	padding-right: 30px;
	color: white;
	background-color: transparent;
}

#header .search .search-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	width: 24px;
	border: 0;
	padding: 0;

	font-size: 18px;
	color: #5D86A6;

	background-color: transparent;
	
	cursor: pointer;
}

#header .userinfo {
	position: absolute;
	right: 0;
	max-width: 130px;
}

@media(max-width: 400px) {
	#header .search { right: 10px; }
	#header .userinfo { display: none; }
}

#content {
	position: fixed;
	top: 46px;
	left: 0; right: 0; bottom: 0;
	background: #fff;

	transition: top 0.5s ease-in-out;
}
