.conversion-error {
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	background: #f88;
	font-weight: bold;
}

.key {
	font-weight: bold;
	background-color : #666666;
	color : #ffffff;
	margin-left : 2px;
	margin-right : 2px;
	padding-left : 3px;
	padding-right : 3px;
}
.secright {}
.codeblock {
	font-family: monospace;
	white-space: pre;
}
.codeph {
	font-family: monospace;
}
.filepath {
	font-family: monospace;
}
.uicontrol {
	font-weight: bold;
}
.wintitle {
	font-weight: bold;
}
.cmdname {
	font-family: monospace;
}
.shortcut {
	text-decoration: underline;
}
*[data-dita="step"][importance="optional"]:before {
	content: '(Optional) ';
}
