
	<meta charset="utf-8">
	<title>{{ Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- styles -->
	<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.css" async>
	<link rel="stylesheet" type="text/css" href="/assets/css/header.css">

	<script src="/assets/js/es5.js"></script>
	<script src="/assets/js/dom.js"></script>
	<script src="/assets/js/global.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css' async>

	<!-- icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/ico/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/ico/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/ico/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/ico/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/ico/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/ico/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/assets/ico/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/ico/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/assets/ico/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/ico/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/assets/ico/manifest.json">
	<link rel="shortcut icon" href="/assets/ico/favicon.ico">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-TileImage" content="/assets/ico/mstile-144x144.png">
	<meta name="msapplication-config" content="/assets/ico/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">