
	<meta charset="utf-8">
	<title>{{ Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- styles -->
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.css" async>

	<script src="/assets/js/es5.js"></script>
	<script src="/assets/js/dom.js"></script>
	<script src="/assets/js/global.js"></script>

	<link href='http://fonts.googleapis.com/css?family=RobotoDraft:300,500,700,400' rel='stylesheet' type='text/css' async>

	<!-- icons -->
	<link rel="icon" type="image/png" href="/assets/ico/24.png" sizes="24x24">
	<link rel="icon" type="image/png" href="/assets/ico/32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/ico/64.png" sizes="64x64">
	<link rel="icon" type="image/png" href="/assets/ico/128.png" sizes="128x128">
	<link rel="icon" type="image/png" href="/assets/ico/256.png" sizes="256x256">
	<link rel="icon" type="image/png" href="/assets/ico/512.png" sizes="512x512">

	<link rel="shortcut icon" href="/assets/ico/favicon.ico">