<!DOCTYPE html>
<head>
	{{ template "head.html" }}
	<link rel="stylesheet" type="text/css" href="/assets/css/lineup.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/items.css">

	<script src="/assets/js/cookies.js"></script>
	<script>window.Hash.restore()</script>
</head>
<body><div id="site"></div></body>
<script>
Global.HomePage = {
	url: "/{{User.Name}}:Home",
	title: "Home",
	link: "{{User.Name}}:Home"
};

Global.User = "{{User.Name}}";

initialize(document.getElementById("site"));
</script>