<!DOCTYPE html>
<head>
	{{ template "head.html" }}
	<link rel="stylesheet" type="text/css" href="/assets/css/auth.css">
</head>
<body>
	<script>window.Hash.save()</script>
	<div id="header">
		<div class="title">{{Site.Company}} &mdash; {{ Site.Title }}</div>
	</div>

	<div class="main">
		<h1 class="logo"></h1>
	</div>

	<div id="content">
		<div id="logins">
			<h2 class="title">Login with:</h2>
			{{ range .Logins }}
			<a href="{{.URL}}" class='button'><span class="login-icon {{.Icon}}"></span>{{.Name}}</a>
			{{ end }}
		</div>

		<form id="logins" action="/system/auth/callback/guest" method="POST">
			<h2>Guest:</h2>
			<table>
				<tr>
					<td><label for="username">Username:</label></td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td><label for="password">Password:</label></td>
					<td><input type="password" name="password"></td>
				</tr>
			</table>
			<br>
			<input type="submit" value="Login">
		</form>
	</div>
</body>