<!DOCTYPE html>
<head>
	{{ template "head.html" }}
	<link rel="stylesheet" type="text/css" href="/assets/css/auth.css">

	<script src="/assets/js/cookies.js"></script>
</head>
<body>
	<script>window.Hash.save()</script>
	<div id="header">
		<div class="title">{{Site.Company}} &mdash; {{ Site.Title }}</div>
	</div>

	<div class="main">
		<h1 class="logo"></h1>
	</div>

	<div id="content">
		<div id="logins">
			<h2 class="title">Login with:</h2>
			{{ range .Logins }}
			<a href="{{.URL}}" class='button'><span class="login-icon {{.Icon}}"></span>{{.Name}}</a>
			{{ end }}
		</div>
	</div>
</body>